*{
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

.wrapper {
  	width: 60%;
	margin: 0 auto;
	}
h2{
     color: #343434;
     font-size: 24px;
     margin: 0px 0px 18px 5px;
    
  }
  

  h4{
    font-size: 18px;
    color: #343434;
    margin: 20px 5px 10px 5px;
  }
  
  p{
      padding: 15px;
    margin: 15px 5px 10px 5px;
  }

  .theory p{
       margin: 8px 0px 8px 0px;
  }

  header {
    border-bottom: 1px solid #999;
    margin: 0px 0px 10px 0px;}
  
  .logo a{
    text-decoration: none;
    color: #333;
    font: italic bold 30px/1.5 Times, 'New Century Schoolbook', serif;
  }
  
  .logo a:hover{
    text-decoration: underline;
    }
  
  .help{
    color: #215169;
    border: 1px solid #b5d8e9;
    border-radius: 4px;
    background: #d9edf7;
  }
  
  .table{
    border: 1px solid #aeaeae;
    border-radius: 4px;
    padding: 15px;
    margin: 15px 5px 10px 5px;
    
  }
  .titletable{
    display: flex;
    justify-content:center;
  }
  
  .string {
    border: 1px solid #aeaeae;
    border-radius: 4px;
    padding: 15px;
    margin: 15px 5px 10px 5px;
    text-align: left;
    display: flex;
    
  }
  
  .input, .sun, .moon, .mercury, .venus, .mars, .saturn, .jupiter, .neptune, .uranos, .pluto, .io, .europa, .ganymede, .callisto  {
    color: #666;
    margin: 10px 10px 10px 10px;
    border: 2px solid #E8E8E8;
    border-radius: 3px;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size:  60%;
 }
  .help2{
    color: #524f23;
    border-color: #e5e1a5;
    border: 1px solid #aeaeae;
    background: #f7f4c9;
    border-radius: 4px;
    margin: 15px 5px 10px 5px
  }
  footer{
    text-align: center;
    margin: 0 auto;
   }